ContentService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost/ContentService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://localhost/ContentService" name="ContentService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://www.qwest.com/ppo/" schemaLocation="https://hcde-ppo-itv1.centurylink.com:443/ContentService?xsd=1"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://localhost/ContentService" schemaLocation="https://hcde-ppo-itv1.centurylink.com:443/ContentService?xsd=2"/>
        </xsd:schema>
    </types>
    <message name="preQual1308">
        <part name="parameters" element="tns:preQual1308"/>
    </message>
    <message name="preQual1308Response">
        <part name="parameters" element="tns:preQual1308Response"/>
    </message>
    <message name="ping">
        <part name="parameters" element="tns:ping"/>
    </message>
    <message name="pingResponse">
        <part name="parameters" element="tns:pingResponse"/>
    </message>
    <message name="reQualAddress1308">
        <part name="parameters" element="tns:reQualAddress1308"/>
    </message>
    <message name="reQualAddress1308Response">
        <part name="parameters" element="tns:reQualAddress1308Response"/>
    </message>
    <portType name="ContentService">
        <operation name="preQual1308">
            <input message="tns:preQual1308"/>
            <output message="tns:preQual1308Response"/>
        </operation>
        <operation name="ping">
            <input message="tns:ping"/>
            <output message="tns:pingResponse"/>
        </operation>
        <operation name="reQualAddress1308">
            <input message="tns:reQualAddress1308"/>
            <output message="tns:reQualAddress1308Response"/>
        </operation>
    </portType>
    <binding name="ContentServicePortBinding" type="tns:ContentService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="preQual1308">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ping">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="reQualAddress1308">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="ContentService">
        <port name="ContentServicePort" binding="tns:ContentServicePortBinding">
            <soap:address location="https://hcde-ppo-itv1.centurylink.com:443/ContentService"/>
        </port>
    </service>
</definitions>