ContentOrderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost/ContentOrderService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://localhost/ContentOrderService" name="ContentOrderService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://www.qwest.com/ppo/" schemaLocation="https://hcde-ppo-itv1.centurylink.com:443/ContentOrderService?xsd=1"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://localhost/ContentOrderService" schemaLocation="https://hcde-ppo-itv1.centurylink.com:443/ContentOrderService?xsd=2"/>
        </xsd:schema>
    </types>
    <message name="submitOrderRequest">
        <part name="parameters" element="tns:submitOrderRequest"/>
    </message>
    <message name="submitOrderRequestResponse">
        <part name="parameters" element="tns:submitOrderRequestResponse"/>
    </message>
    <message name="ping">
        <part name="parameters" element="tns:ping"/>
    </message>
    <message name="pingResponse">
        <part name="parameters" element="tns:pingResponse"/>
    </message>
    <message name="prepareOrderPort">
        <part name="parameters" element="tns:prepareOrderPort"/>
    </message>
    <message name="prepareOrderPortResponse">
        <part name="parameters" element="tns:prepareOrderPortResponse"/>
    </message>
    <message name="prepareOrder1411">
        <part name="parameters" element="tns:prepareOrder1411"/>
    </message>
    <message name="prepareOrder1411Response">
        <part name="parameters" element="tns:prepareOrder1411Response"/>
    </message>
    <message name="sohoPrepareOrder1308">
        <part name="parameters" element="tns:sohoPrepareOrder1308"/>
    </message>
    <message name="sohoPrepareOrder1308Response">
        <part name="parameters" element="tns:sohoPrepareOrder1308Response"/>
    </message>
    <message name="submitOrder1411">
        <part name="parameters" element="tns:submitOrder1411"/>
    </message>
    <message name="submitOrder1411Response">
        <part name="parameters" element="tns:submitOrder1411Response"/>
    </message>
    <portType name="ContentOrderService">
        <operation name="submitOrderRequest">
            <input message="tns:submitOrderRequest"/>
            <output message="tns:submitOrderRequestResponse"/>
        </operation>
        <operation name="ping">
            <input message="tns:ping"/>
            <output message="tns:pingResponse"/>
        </operation>
        <operation name="prepareOrderPort">
            <input message="tns:prepareOrderPort"/>
            <output message="tns:prepareOrderPortResponse"/>
        </operation>
        <operation name="prepareOrder1411">
            <input message="tns:prepareOrder1411"/>
            <output message="tns:prepareOrder1411Response"/>
        </operation>
        <operation name="sohoPrepareOrder1308">
            <input message="tns:sohoPrepareOrder1308"/>
            <output message="tns:sohoPrepareOrder1308Response"/>
        </operation>
        <operation name="submitOrder1411">
            <input message="tns:submitOrder1411"/>
            <output message="tns:submitOrder1411Response"/>
        </operation>
    </portType>
    <binding name="ContentOrderServicePortBinding" type="tns:ContentOrderService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="submitOrderRequest">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ping">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="prepareOrderPort">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="prepareOrder1411">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="sohoPrepareOrder1308">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="submitOrder1411">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="ContentOrderServiceProxy">
        <port name="ContentOrderServicePort" binding="tns:ContentOrderServicePortBinding">
            <soap:address location="https://hcde-ppo-itv1.centurylink.com:443/ContentOrderService"/>
        </port>
    </service>
</definitions>