ServiceOrderStatusService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost/ServiceOrderStatusService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://localhost/ServiceOrderStatusService" name="ServiceOrderStatusService">
<types>
<xsd:schema>
<xsd:import namespace="http://www.qwest.com/ppo/" schemaLocation="https://hcde-ppo-itv1.centurylink.com:443/ServiceOrderStatusService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://localhost/ServiceOrderStatusService" schemaLocation="https://hcde-ppo-itv1.centurylink.com:443/ServiceOrderStatusService?xsd=2"/>
</xsd:schema>
</types>
<message name="getChurnData">
<part name="parameters" element="tns:getChurnData"/>
</message>
<message name="getChurnDataResponse">
<part name="parameters" element="tns:getChurnDataResponse"/>
</message>
<message name="openOrders">
<part name="parameters" element="tns:openOrders"/>
</message>
<message name="openOrdersResponse">
<part name="parameters" element="tns:openOrdersResponse"/>
</message>
<message name="newOrders1411">
<part name="parameters" element="tns:newOrders1411"/>
</message>
<message name="newOrders1411Response">
<part name="parameters" element="tns:newOrders1411Response"/>
</message>
<message name="newOrders1211">
<part name="parameters" element="tns:newOrders1211"/>
</message>
<message name="newOrders1211Response">
<part name="parameters" element="tns:newOrders1211Response"/>
</message>
<message name="orderDetail1209">
<part name="parameters" element="tns:orderDetail1209"/>
</message>
<message name="orderDetail1209Response">
<part name="parameters" element="tns:orderDetail1209Response"/>
</message>
<message name="orderDetail1411">
<part name="parameters" element="tns:orderDetail1411"/>
</message>
<message name="orderDetail1411Response">
<part name="parameters" element="tns:orderDetail1411Response"/>
</message>
<portType name="ServiceOrderStatusService">
<operation name="getChurnData">
<input message="tns:getChurnData"/>
<output message="tns:getChurnDataResponse"/>
</operation>
<operation name="openOrders">
<input message="tns:openOrders"/>
<output message="tns:openOrdersResponse"/>
</operation>
<operation name="newOrders1411">
<input message="tns:newOrders1411"/>
<output message="tns:newOrders1411Response"/>
</operation>
<operation name="newOrders1211">
<input message="tns:newOrders1211"/>
<output message="tns:newOrders1211Response"/>
</operation>
<operation name="orderDetail1209">
<input message="tns:orderDetail1209"/>
<output message="tns:orderDetail1209Response"/>
</operation>
<operation name="orderDetail1411">
<input message="tns:orderDetail1411"/>
<output message="tns:orderDetail1411Response"/>
</operation>
</portType>
<binding name="ServiceOrderStatusServicePortBinding" type="tns:ServiceOrderStatusService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getChurnData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="openOrders">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="newOrders1411">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="newOrders1211">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="orderDetail1209">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="orderDetail1411">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServiceOrderStatusService">
<port name="ServiceOrderStatusServicePort" binding="tns:ServiceOrderStatusServicePortBinding">
<soap:address location="https://hcde-ppo-itv1.centurylink.com:443/ServiceOrderStatusService"/>
</port>
</service>
</definitions>