parser/testdata/complexType.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions name = "emptycomplextype"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:jp.gr.jin.rrr.example.emptycomplextype"
    xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <xsd:schema elementFormDefault="qualified"
	targetNamespace="urn:jp.gr.jin.rrr.example.emptycomplextype">
            <xs:element name="myelements">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nonboth" type="xs:string"/>
                        <xs:element minOccurs="0" name="minzero" type="xs:int"/>
                        <xs:element name="nilint" nillable="true" type="xs:int"/>
                        <xs:element name="nilstring" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="minzeronil" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="1" name="DateOfBirth1" nillable="true" type="xs:dateTime" />
                        <xs:element minOccurs="1" maxOccurs="1" name="DateOfBirth2" nillable="true" type="xs:dateTime" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xsd:schema>
    </types>
</definitions>
