parser/testdata/complexType.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions name = "emptycomplextype" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:jp.gr.jin.rrr.example.emptycomplextype" 
    xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:jp.gr.jin.rrr.example.emptycomplextype">
            <xsd:element name="myelements">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="nonboth" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="minzero" type="xsd:int"/>
                        <xsd:element name="nilint" nillable="true" type="xsd:int"/>
                        <xsd:element name="nilstring" nillable="true" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="minzeronil" nillable="true" type="xsd:string"/>
                        <xsd:element maxOccurs="1" name="DateOfBirth1" nillable="true" type="xsd:dateTime" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="DateOfBirth2" nillable="true" type="xsd:dateTime" />
                        <xsd:element maxOccurs="1" name="ServiceProducts" type="ArrayOfProducts" minOccurs="0"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="ServiceProductType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" name="ServiceProducts" type="ArrayOfProducts" minOccurs="0"></xsd:element>
                    <xsd:element nillable="true" name="Version" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfProducts">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="Product" type="xsd:string" minOccurs="0"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ServiceProductTypeExt">
                <xsd:complexContent>
                    <xsd:extension base="ServiceProductType">
                        <xsd:sequence>
                            <xsd:element name="nonboth" type="xsd:string"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="PingResponseType">
                <xsd:sequence>
                    <xsd:element name="TransactionId" type="xsd:string"></xsd:element>
                    <xsd:element nillable="true" name="Version" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
</definitions>