parser/testdata/complexType.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions name = "emptycomplextype" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:jp.gr.jin.rrr.example.emptycomplextype" 
    xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:jp.gr.jin.rrr.example.emptycomplextype">
            <xsd:element name="myelements">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="nonboth" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="minzero" type="xsd:int"/>
                        <xsd:element name="nilint" nillable="true" type="xsd:int"/>
                        <xsd:element name="nilstring" nillable="true" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="minzeronil" nillable="true" type="xsd:string"/>
                        <xsd:element maxOccurs="1" name="DateOfBirth1" nillable="true" type="xsd:dateTime" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="DateOfBirth2" nillable="true" type="xsd:dateTime" />
                        <xsd:element maxOccurs="1" name="ServiceProducts" type="ArrayOfProducts" minOccurs="0"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="ServiceProductType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" name="ServiceProducts" type="ArrayOfProducts" minOccurs="0"></xsd:element>
                    <xsd:element nillable="true" name="Version" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfProducts">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="Product" type="xsd:string" minOccurs="0"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ServiceProductTypeExt">
                <xsd:complexContent>
                    <xsd:extension base="ServiceProductType">
                        <xsd:sequence>
                            <xsd:element name="nonboth" type="xsd:string"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xs:complexType name="OrderStatusInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="sessionId" type="xs:string" />
                    <xs:element minOccurs="1" maxOccurs="1" name="Status" type="xs:boolean" />
                    <xs:element minOccurs="0" maxOccurs="1" name="StatusCode" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="StatusMessage" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="MON" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="GetOrderStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="GetOrderStatusResult">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" maxOccurs="1" name="OrderStatusResponse">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element minOccurs="0" maxOccurs="1" name="VoiceOrderid" type="xs:string" />
                                                <xs:element minOccurs="0" maxOccurs="1" name="Orderid" type="xs:string" />
                                                <xs:element minOccurs="0" maxOccurs="unbounded" name="Version">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" maxOccurs="1" name="VersionNumber" type="xs:string" />
                                                            <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderStatus">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element minOccurs="0" maxOccurs="1" name="isTechAssigned" type="xs:string" />
                                                                        <xs:element minOccurs="0" maxOccurs="1" name="stage" type="xs:string" />
                                                                        <xs:element minOccurs="0" maxOccurs="1" name="source" type="xs:string" />
                                                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceStatus">
                                                                            <xs:complexType>
                                                                                <xs:sequence>
                                                                                    <xs:element minOccurs="0" maxOccurs="1" name="OrderNumber" type="xs:string" />
                                                                                    <xs:element minOccurs="0" maxOccurs="1" name="status" type="xs:string" />
                                                                                    <xs:element minOccurs="0" maxOccurs="1" name="Statusdescription" type="xs:string" />
                                                                                    <xs:element minOccurs="0" maxOccurs="1" name="provisionstatus" type="xs:string" />
                                                                                </xs:sequence>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                        <xs:element minOccurs="0" maxOccurs="1" name="estimatedtime" type="xs:string" />
                                                                        <xs:element minOccurs="0" maxOccurs="1" name="actualtime" type="xs:string" />
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element minOccurs="0" maxOccurs="1" name="StatusInfo" type="tns:OrderStatusInfo" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xsd:complexType name="PingResponseType">
                <xsd:sequence>
                    <xsd:element name="TransactionId" type="xsd:string"></xsd:element>
                    <xsd:element nillable="true" name="Version" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
</definitions>